.btn {
  background-color: #313131;
  height: 48px;
  width: 144px;
  color: #fff;
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
