.btn {
  background-color: #313131;
  height: 48px;
  width: 144px;
  color: #fff;
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.small {
  width: 95px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: 'pnum' on, 'onum' on;
  color: #fff;
  margin-bottom: 16px;
  background-color: #313131;
}
