.am-tab-bar-bar {
  height: 56px;
  .am-tab-bar-tab-title {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-top: 8px;
  }
}
