.outer {
  display: flex;
  flex-flow: column;
}

.detail_summary {
  border-radius: 12px 12px 0 0;
  padding: 24px;
  background-color: #fff;
}

.detail_info {
  flex-grow: 1;
  border-radius: 0 0 12px 12px;
  padding: 24px;
  background-color: #cfe2e8;
}

.label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #313131;
  opacity: 0.3;
}

.img_container {
  margin-top: 24px;
  width: 100%;
  height: 150px;
  background: #96c5b7;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 214px;
  background-image: url('https://s3-alpha-sig.figma.com/img/9374/c863/61b4d33a9cdd9d3cd9684485eba43653?Expires=1597017600&Signature=C136Vamdc5Du3ab8BQrObyVwgazhOHRkgzG1SBFDc0igbkfG9IfONK9f3~oCUqxbRkn6jp-s4ktIXb7IXUwudqJlglLKD889WfRLx5tr4wkRmQ-aZTgNlcflX4jbyMViXkMwpL-qkc4jovx7~6a5Cc0tfSUv5e8PiHso8LYo5ewgZWfh9qAjOmdOqj~NhomWLJeOvJcLpz0yM3L27k4dPJ5kAhBxT~7YQ4A20ya2AsBM-IHNofmY9ZX0KHiEox3HpaLSlfckJkAn-aLo8l2M3UQnCBKmpfDfkh9zEmznYXRVKwKHvFO86skjMyvQCBRphFulbiF6OZZ7DACxUNRoZA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
}

.main_heading {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  color: #313131;
}

.sub_heading {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #797979;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #797979;
  margin-bottom: 24px;
}

.text_headline {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #797979;
}
